# 第七周作业

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/zhouhan/Downloads/Churn_Modelling_data.csv')

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
data.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [38]:
data.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
2037/data.Exited.size
# 接近20%，不算失衡数据

0.2037

In [23]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [24]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [25]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [28]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
x[:,1] =le1.fit_transform(x[:,1])
le2 = LabelEncoder()
x[:,2] =le2.fit_transform(x[:,2])

In [39]:
x

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [42]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=0)

In [51]:
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [48]:
y_train

array([0, 0, 0, ..., 0, 0, 1])

In [44]:
import os
import time

# 模型处理模块
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

# 常规模型
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# 集成学习和stacking模型
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from mlxtend.classifier import StackingClassifier
# 评价标准模块
from sklearn import metrics
from sklearn.metrics import accuracy_score,roc_auc_score,recall_score,precision_score, classification_report

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [45]:
def train_model(x_train, y_train, x_test, y_test, model,model_name):
    
    print('训练{}'.format(model_name))
    
    #创建指定模型
    clf=model 
    start = time.time()
    
    #训练模型
    clf.fit(x_train, y_train.values.ravel())
    
    #验证模型
    print("训练集评估")
    train_pre = clf.predict(x_train) 
    print(classification_report(y_train,train_pre))
    
    print("检验集评估")
    test_pre=clf.predict(x_test)
    print(classification_report(y_test,test_pre))

    end = time.time()
    duration = end - start
    print('模型训练耗时：{:6f}s'.format(duration))

    return clf

In [52]:
model_name_param_dict = { 'LR':(LogisticRegression()),
                          'DT': (DecisionTreeClassifier()),
                          'AdaBoost': (AdaBoostClassifier()),
                          'RF': (RandomForestClassifier()),
                          'XGBoost':(XGBClassifier())
                         }
result = {}
for model_name, model in model_name_param_dict.items():
    result[model_name] = train_model(x_train, y_train, x_test, y_test, model,model_name)

训练LR
训练集评估
              precision    recall  f1-score   support

           0       0.82      0.97      0.89      6368
           1       0.60      0.18      0.27      1632

    accuracy                           0.81      8000
   macro avg       0.71      0.57      0.58      8000
weighted avg       0.78      0.81      0.76      8000

检验集评估
              precision    recall  f1-score   support

           0       0.82      0.97      0.89      1595
           1       0.58      0.18      0.27       405

    accuracy                           0.81      2000
   macro avg       0.70      0.57      0.58      2000
weighted avg       0.77      0.81      0.76      2000

模型训练耗时：3.762790s
训练DT
训练集评估
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6368
           1       1.00      1.00      1.00      1632

    accuracy                           1.00      8000
   macro avg       1.00      1.00      1.00      8000
weighted avg       1.00      1.00      1.00      8000

检验集评估
              precision    recall  f1-score   support

           0       0.88      0.85      0.86      1595
           1       0.48      0.54      0.51       405

    accuracy                           0.79      2000
   macro avg       0.68      0.69      0.68      2000
weighted avg       0.80      0.79      0.79      2000

模型训练耗时：0.068639s
训练AdaBoost
训练集评估
              precision    recall  f1-score   support

           0       0.87      0.96      0.91      6368
           1       0.74      0.46      0.57      1632

    accuracy                           0.86      8000
   macro avg       0.81      0.71      0.74      8000
weighted avg       0.85      0.86      0.84      8000

检验集评估
              precision    recall  f1-score   support

           0       0.89      0.94      0.92      1595
           1       0.71      0.54      0.61       405

    accuracy                           0.86      2000
   macro avg       0.80      0.74      0.76      2000
weighted avg       0.85      0.86      0.85      2000

模型训练耗时：0.339993s
训练RF
训练集评估
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6368
           1       1.00      1.00      1.00      1632

    accuracy                           1.00      8000
   macro avg       1.00      1.00      1.00      8000
weighted avg       1.00      1.00      1.00      8000

检验集评估
              precision    recall  f1-score   support

           0       0.89      0.96      0.92      1595
           1       0.75      0.52      0.61       405

    accuracy                           0.87      2000
   macro avg       0.82      0.74      0.76      2000
weighted avg       0.86      0.87      0.86      2000

模型训练耗时：1.105142s
训练XGBoost
[17:22:40] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
训练集评估
              precision    recall  f1-score   support

           0       0.95      0.99      0.97      6368
           1       0.97      0.78      0.87      1632

    accuracy                           0.95      8000
   macro avg       0.96      0.89      0.92      8000
weighted avg       0.95      0.95      0.95      8000

检验集评估
              precision    recall  f1-score   support

           0       0.88      0.94      0.91      1595
           1       0.68      0.51      0.58       405

    accuracy                           0.85      2000
   macro avg       0.78      0.72      0.74      2000
weighted avg       0.84      0.85      0.84      2000

模型训练耗时：0.754879s

In [55]:
# RF模型检验集得分为0.87,最优